@import '_nullstyle';
$blue-1: #1F3F68;
$blue-2: #316099;
$blue-4: #5A98D0;
@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;
    $b: $b * 1px;
    @return calc(#{$k} * 100vw + #{$b});
}

@font-face {
    font-family: Galien;
    src: url('../fonts/Galien-Regular.eot');
    src: local('☺'), url('../fonts/Galien-Regular.woff') format('woff'), url('../fonts/Galien-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/gilroy-light-webfont.eot');
    src: url('../fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gilroy-light-webfont.woff2') format('woff2'), url('../fonts/gilroy-light-webfont.woff') format('woff'), url('../fonts/gilroy-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	height: 100%;
    font-family: Gilroy;
    background-color: #FFFFFF;
    line-height: 1.625;
    letter-spacing: 0.05em;
    color: rgba(141, 150, 161, 0.6);
    @media (min-width: 769px) {
        font-size: calcFluidFontSize(12, 16, 768, 1366);
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

body {
    &::-webkit-scrollbar {
        width: 20px;
    }
    &::-webkit-scrollbar-track {
        background: linear-gradient(to top, $blue-4, #ffffff);
        &:hover {
            background-color: $blue-2;
        }
    }
    &::-webkit-scrollbar-thumb {
        background: url('../img/A.png') no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 10px 0 0 10px;
        &:hover {
            background-color: $blue-4;
        }
    }
    @media (max-width: 768px) {
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: $blue-2;
        }
    }
}

body.lock {
    overflow: hidden;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* ---------- header ---------- */

.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	&__content {
		max-width: 1200px;
		margin: 7.29vh auto 0;
		display: flex;
        justify-content: space-between;
        align-items: center;
	}

	&__logo {
		flex: 0 0 48px;
		filter: drop-shadow(0px 0px 5px #ffffff);
        transition: transform 0.2s ease;
        svg {
            height: 48px;
        }
	}

	&__menu {
		flex: 1 1 auto;
		background-color: rgba(255, 255, 255, 0.35);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
	}

	&__burger {
		flex: 0 0 32px;
		filter: drop-shadow(0px 0px 5px #ffffff);
        fill: #356ead;
        transition: all 0.5s ease;
        svg {
            height: 32px;
        }
	}
}

.menu {
	display: flex;
	justify-content: space-around;
	a.menu__item {
		font-size: 2rem;
		letter-spacing: 0.15rem;
		line-height: 1.2;
		color: $blue-2;
	}
}

.header__burger.active {
    transform: rotate(90deg);
}

.show-menu {
    opacity: 1;
    visibility: visible;
}


/* ---------- about us ---------- */

.about {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin-bottom: 25vh;
	background-image: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%), url('../img/swimming.png');
	background-position: 98% 50%;
	background-size: auto, 50.37vw auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&__desc {
		flex: 1 1 auto;
		max-width: 82.723%;
		width: 100%;
		margin-right: 1.76vw;
		margin-left: auto;
		padding: 6.25vh 0 7.3vh 0;
		display: flex;
        flex-direction: column;
	}

	&__title {
		max-width: 45.14%;
        font-family: Galien;
        font-size: 4rem;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: $blue-1;
        margin-top: 11.6vh;
        margin-bottom: 4.2vh;
	}

	&__pic {
		display: none;
	}

	&__subtitle {
		max-width: 37.62%;
        margin-bottom: 9.25vh;
	}

	&__action {
        max-width: 37.62%;
		margin-bottom: 17.6vh;
	}
	&__house {
		position: absolute;
		top: 11.07vh;
		right: 5.49vw;
		width: 19.11vw;
		height: 27.47vw;
	}
	@media (max-width: 500px) {
		padding: 0 15px;
		margin-bottom: 5rem;
		background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
		&__desc {
			max-width: none;
			margin-right: 0;
			padding: 0;
		}
		&__title {
			max-width: none;
			margin-top: 7vh;
			margin-bottom: 3vh;
		}
		&__pic {
			display: block;
			text-align: center;
			margin-bottom: 3vh;
            picture,
            img {
                min-width: 300px;
                max-width: 50%;
            }
		}
		&__subtitle {
			max-width: none;
			margin-bottom: 3vh;
			flex: 1 1 auto;
		}
		&__action {
			max-width: none;
			margin-bottom: 7vh;
		}
	}
}

.house {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	&__icons {
		flex: 0 1 118px;
		position: fixed;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__item {
		flex-basis: 50%;
	}

	&__icon {
		// flex: 0 1 88px;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		margin-top: 18.88vh;
	}
}
.icons-house {
	width: 41px;
	height: 41px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
	&_blue {
		background: #56CCF2;
		margin-left: 46px;
		margin-bottom: 36.25px;
		svg {
			width: 20px;
			height: 20px;
		}
	}

	&_green {
		background: #6FCF97;
		margin-right: 46px;
		margin-left: auto;
		margin-bottom: 36.25px;
		svg {
			width: 22px;
			height: 10.2px;
		}
	}

	&_red {
		background: #F58A8A;
		svg {
			width: 16px;
			height: 21px;
		}
	}

	&_yellow {
		background: #F2C94C;
		margin-left: auto;
		svg {
			width: 18px;
			height: 25px;
		}
	}

	&_house {
		background-color: transparent;
		box-shadow: none;
		margin: 0 auto;
		svg {
			width: 40px;
			height: 34px;
		}
	}
}


/* ---------- section description ---------- */

.description {
    &__title {
        font-size: 2.25rem;
        line-height: 1.28;
    }
    &__action {
        padding: 1rem 0;
        background-color: $blue-4;
        border: 1px solid $blue-4;
        border-radius: 10px;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        width: 13.75rem;
        display: block;
        text-align: center;
        color: #FFFFFF;
        transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        &:hover {
            transform: scale(1.1);
        }
    }
    @media (max-width: 768px) {
        &__action {
            margin-left: auto;
        }
    }
    @media (max-width: 500px) {
        &__action {
            margin-left: auto;
            margin-right: auto;
        }
    }
}


/* ---------- main container ---------- */

.wrapper {
    max-width: 68.814%;
    margin: 0 auto;
    @media (max-width: 768px) {
        max-width: 90%;
    }
    @media (max-width: 500px) {
        max-width: 100%;
        margin: 0 15px;
    }
}


/* ---------- we do ---------- */

.wedo {
    position: relative;
    width: 100%;
    margin-bottom: 13.25rem;
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 38.09%;
        color: $blue-2;
    }
    &__items {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    @media (max-width: 768px) {
        margin-bottom: 5rem;
    }
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        &__title {
            position: static;
            width: 100%;
            margin-bottom: 3rem;
        }
    }
}

.item {
    width: 40.43%;
    padding: 3rem;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    position: relative;
    transition: all 0.2s ease-in;
    &__img {
        margin-bottom: 3.2rem;
        max-width: 46.83%;
        margin-left: auto;
        margin-right: 5.564vw;
    }
    &__title {
        font-size: 1.25;
        line-height: 1.5;
        color: $blue-1;
        margin-bottom: 1rem;
    }
    &__text {
        margin-bottom: 1rem;
    }
    &__link {
        max-width: 7.7rem;
        font-size: 0.875rem;
        line-height: 2.14;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: $blue-4;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        svg {
            flex: 0 0 13%;
            height: 16px;
            transition: all 0.2s ease;
        }
        &:hover {
            svg {
                transform: rotate(360deg) scale(1.1);
            }
        }
    }
    &:nth-of-type(even) {
        position: absolute;
        top: 50%;
        left: 8.5%;
        transform: translateY(-50%);
        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
    }
    &:not(:last-of-type) {
        margin-bottom: 6.25rem;
    }
    &:not(:nth-of-type(even)):hover {
        transform: scale(1.1);
    }
    @media (max-width: 500px) {
        width: 100%;
        box-shadow: 5px 10px 25px rgba(16, 112, 177, 0.2);
        &__img {
            margin-right: auto;
            margin-bottom: 1rem;
        }
        &:nth-of-type(even) {
            position: static;
            transform: none;
            &:hover {
                transform: none;
            }
        }
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
        &:not(:nth-of-type(even)):hover {
            transform: none;
        }
    }
}

.icons {
    position: absolute;
    max-width: 58.95%;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
    &:hover {
        transform: translateX(-50%) scale(1.1);
    }
}


/* ---------- clients ---------- */

.clients {
    width: 100%;
    background-color: $blue-4;
    border-radius: 14.64vw 0px 0px 0px;
    color: #FFFFFF;
    padding-top: 6rem;
    padding-bottom: 8rem;
    margin-bottom: -1px;
    &__desc {
        display: flex;
        margin-bottom: 7rem;
    }
    &__title {
        flex: 0 1 23.73%;
    }
    &__subtitle {
        flex: 0 1 57.45%;
        margin-left: 6rem;
    }
    &__items {
        ul {
            display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
            align-items: center;
            max-height: 15.75rem;
            overflow: hidden;
        }
        li {
			flex-basis: 25%;
			height: 8rem;
			padding: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.2s ease-in;
			img {
				max-width: 50%;
				filter: grayscale(1);
			}
            &:hover {
				img {
					filter: grayscale(0) drop-shadow(0 0 6px $blue-1);
				}
            }
        }
        li:last-of-type {
            background-color: rgba(31, 63, 104, 0.2);
            text-transform: capitalize;
            transform: none;
            font-size: 1.25rem;
            line-height: 2.3;
			text-align: center;
			border-radius: 4rem 0 0 0;
        }
    }
    @media (max-width: 768px) {
        padding: 5rem 0;
        &__desc {
            margin-bottom: 3.5rem;
		}
		&__items {
			li {
				img {
					filter: none;
				}
			}
		}
    }
    @media (max-width: 500px) {
        padding: 2rem 0;
        &__desc {
            display: flex;
            flex-direction: column;
        }
        &__title {
            margin-bottom: 1rem;
            text-align: right;
        }
        &__subtitle {
            margin-left: 0;
        }
        &__items {
            ul {
                max-height: none;
            }
            li {
				flex-basis: 50%;
				margin-bottom: 1rem;
            }
        }
    }
}


/* ---------- footer ---------- */

footer {
    background: $blue-4;
}

.footer {
    width: 93%;
    background-color: $blue-2;
    border: none;
    border-radius: 0px 14.64vw 0px 0px;
    padding: 5.6875rem 14.42vw 4rem 0;
    color: #FFFFFF;
    &__talk {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-bottom: 6rem;
    }
    &__text {
        margin-left: 15.6vw;
        flex: 0 1 42.87%;
    }
    &__action {
        display: flex;
        flex: 0 1 auto;
    }
    &__content {
        padding-top: 6rem;
        display: flex;
        flex-wrap: wrap;
    }
    &__contacts {
        margin-left: 15.6vw;
        margin-right: 4.9vw;
        flex: 0 1 31%;
        .fmenu__title {
            display: none;
        }
        dl {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4rem;
        }
        dt {
            flex-basis: 8%;
        }
        dd {
            flex-basis: 88%;
            &:not(:last-of-type) {
                margin-bottom: 1.5rem;
            }
            a {
                color: #FFFFFF;
            }
        }
    }
    &__rights {
        margin-left: 15.6vw;
        color: rgba(255, 255, 255, 0.4);
    }
    &__menu {
        &:not(:last-of-type) {
            margin-right: 5.64vw;
        }
    }
    @media (max-width: 500px) {
        padding: 2rem;
        &__talk {
            padding-bottom: 2rem;
            flex-direction: column;
        }
        &__text {
            margin-left: 0;
            margin-bottom: 2rem;
            flex: 0 1 auto;
        }
        &__content {
            padding-top: 2rem;
            flex-direction: column;
        }
        &__contacts {
            margin-left: 0;
            margin-right: 0;
            .fmenu__title {
                display: block;
            }
            dl {
                margin-bottom: 2rem;
            }
            dd {
                &:not(:last-of-type) {
                    margin-bottom: 1rem;
                }
            }
        }
        &__rights {
            margin-left: 0;
            text-align: center;
        }
        &__menu {
            ul {
                margin-bottom: 2rem;
            }
            &:not(:last-of-type) {
                margin-right: 0;
            }
        }
    }
}

.footer__text>.description__title {
    margin-bottom: 2rem;
}

.contacts {
    display: flex;
    margin-bottom: 2rem;
    align-items: flex-start;
    &__logo {
        flex: 0 1 16.67%;
        transition: transform 0.2s ease;
        svg {
            height: 1.75rem;
        }
        &:hover {
            transform: rotate(360deg) scale(1.2);
        }
    }
    &__brand {
        font-size: 1.75rem;
        line-height: 1.64;
        letter-spacing: 0.02em;
        margin-left: 1rem;
    }
    @media (max-width: 500px) {
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center;
        &__logo {
            flex: 0 1 48px;
            svg {
                height: 48px;
            }
        }
    }
}

.fmenu {
    &__title {
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }
    li {
        padding: 0.5rem;
        transition: all 0.2s ease;
        &:hover {
            box-shadow: inset 2px 2px 0 2px #5A98D0;
        }
    }
    @media (max-width: 500px) {
        &__title {
            position: relative;
            margin-bottom: 0.5rem;
            cursor: pointer;
            padding: 0.5rem 0 0.5rem 3rem;
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
            border-radius: 5px;
        }
        &__title::before,
        &__title::after {
            content: '';
            width: 10px;
            height: 1px;
            background-color: #FFFFFF;
            position: absolute;
            top: 16px;
            transition: all 0.2s ease;
        }
        &__title::before {
            transform: rotate(40deg);
            left: 10px;
        }
        &__title::after {
            transform: rotate(-40deg);
            left: 18px;
        }
        &__title.active:before {
            transform: rotate(-40deg);
        }
        &__title.active:after {
            transform: rotate(40deg);
        }
        ul,
        dl {
            display: none;
        }
        dl.active {
            display: flex;
        }
        ul.active {
            display: block;
            padding-left: 2rem;
        }
        li:nth-of-type(even) {
            text-align: right;
        }
    }
}


/* ---------- modal ---------- */

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
    &__wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body {
        width: 39.53%;
        min-width: 300px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        padding: 3.5rem;
        legend {
            font-size: 1.25rem;
            line-height: 1.5;
            color: #1F3F68;
            margin-bottom: 3vh;
            text-transform: uppercase;
        }
        label {
            display: block;
            font-size: 1rem;
            line-height: 1.875;
            color: rgba(31, 63, 104, 0.8);
            margin-bottom: 0.5vh;
            text-transform: capitalize;
        }
        input[type='text'],
        input[type='email'],
        textarea {
            border: 1px solid rgba(53, 110, 173, 0.4);
            border-radius: 0.73vw;
            padding: 1.3125rem 2.625rem;
            font-size: 1rem;
            line-height: 1.875;
            width: 100%;
        }
        input[type='text'],
        input[type='email'] {
            margin-bottom: 2vh;
        }
        textarea {
            margin-bottom: 3.5vh;
            resize: none;
            overflow: auto;
        }
         ::placeholder {
            font-size: 1rem;
            line-height: 1.875;
            color: rgba(31, 63, 104, 0.2);
            text-transform: uppercase;
        }
    }
    &__submit,
    &__reset {
        width: 100%;
        line-height: 1.6;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        background-color: $blue-4;
        padding: 1.5rem 0;
        margin-bottom: 0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        text-transform: uppercase;
        display: none;
    }
}

.show-modal {
    opacity: 1;
    visibility: visible;
}

.show-btn {
    display: block;
}